:root {
    --background:       #FAF4E8;
    --surface:          #FFFDF8;
    --photo-background: #EFE7D6;

    --text:             #23262E;
    --text-muted:       #8C8472;

    --accent:           #16487A;
    --accent-warm:      #EC5C29;
}
